accelerate==0.23.0
appdirs==1.4.4
attrs==23.1.0
azure-ai-formrecognizer==3.3.0
azure-common==1.1.28
azure-core==1.29.1
backoff==2.2.1
bcrypt==4.0.1
black==23.9.1
boilerpy3==1.0.6
canals==0.2.2
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
dill==0.3.7
dnspython==2.4.2
docopt==0.6.2
email-validator==2.0.0.post2
Events==0.5
exceptiongroup==1.1.3
filelock==3.12.4
Flask==2.2.4
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.2
flask-mongoengine==1.0.0
Flask-WTF==1.1.1
fsspec==2023.9.2
gunicorn==21.2.0
huggingface-hub==0.17.2
idna==3.4
inflect==7.0.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
lazy-imports==0.3.1
loguru==0.7.2
MarkupSafe==2.1.3
mongoengine==0.27.0
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msrest==0.7.1
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
num2words==0.5.12
numpy==1.26.0
oauthlib==3.2.2
packaging==23.1
pathspec==0.11.2
Pillow==10.0.1
platformdirs==3.10.0
posthog==3.0.2
protobuf==3.20.2
psutil==5.9.5
pydantic==1.10.12
PyJWT==2.8.0
pymongo==4.5.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
PyYAML==6.0.1
quantulum3==0.9.0
rank-bm25==0.2.2
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-cache==0.9.8
requests-oauthlib==1.3.1
rpds-py==0.10.3
scikit-learn==1.3.1
scipy==1.11.2
sentencepiece==0.1.99
shortuuid==1.0.11
six==1.16.0
sseclient-py==1.8.0
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.13.3
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.5.0
tzdata==2023.3
url-normalize==1.4.3
urllib3==2.0.5
Werkzeug==2.3.7
win32-setctime==1.1.0
WTForms==3.0.1
